*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #383838; */
}
body{
    background-color: black;

}
.App{
     align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;

}
.calc_wrapper{
   
    width: 400px;
    border-radius: 16px;
    background-color: #383838;
    color: white;

}

.row{
    display: flex;
}